.list{
    display: flex;
    justify-content: space-between;
}
.Search{
    margin: 10px
    
}
.table  tr.selected td {
  background-color: #ccc;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  input.checkbox {
    width: 20px;
    height: 20px;
    
}

.edit-btn{
  padding: auto;
  min-width: 5px;
  /* padding: 0px !important; */
}
.delete-btn{
  padding: auto;
  min-width: 5px;
  /* padding: 0px !important; */
}
.selected-delete{
  text-transform: none !important;
  text-align: left !important;
  border: #333 !important;
  margin: 50px !important;
  background-color: rgb(255, 77, 0) !important;
  font-size: 14px !important;
  color: whitesmoke !important;
  border-radius: 50px  !important;
  
}



  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    
  }
  
  .pagination li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border-radius: 50px;
  }
  
  .pagination li.active a {
    color: #fff;
    background-color: #007bff;
  }
  .footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;

  }
  



  .special-button {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .page {
    display: inline-block;
    padding: 3px 6px;
    margin: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #e1e1e1;
  }
  
  .break-link,
  .page-link {
    text-decoration: none;
    color: inherit;
  }
  
  .previous-link,
  .next-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  .disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .btn-page{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  