.list{
    display: flex;
    justify-content: space-between;
}
.Search{
    margin: 10px
    
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  input.checkbox {
    width: 20px;
    height: 20px;
}

.edit-btn{
  padding: auto;
  min-width: 5px;
  /* padding: 0px !important; */
}
.delete-btn{
  padding: auto;
  min-width: 5px;
  /* padding: 0px !important; */
}
.selected-delete{
  text-transform: none !important;
  text-align: left !important;
  border: #333 !important;
  margin: 50px !important;
  background-color: rgb(255, 77, 0) !important;
  font-size: 15px !important;
  color: whitesmoke !important;
  border-radius: 50px  !important;
  
}

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    
  }
  
  .pagination li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border-radius: 50px;
  }
  
  .pagination li.active a {
    color: #fff;
    background-color: #007bff;
  }
  .footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;

  }
  
  